{% load static %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/master.css'%}">




  </head>
  <body>


    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}



        <button type="submit" name="button">Solve</button>
    </form>



<svg height="1000" width="500">
 <polygon points="30,0 390,0 390,360 30,360" style="fill:none;stroke:black;stroke-width:5" />
 <line x1="150" y1="0" x2="150" y2="360" style="stroke:black;stroke-width:5" />
 <line x1="270" y1="0" x2="270" y2="360" style="stroke:black;stroke-width:5" />
 <line x1="30" y1="120" x2="389" y2="120" style="stroke:black;stroke-width:4" />
 <line x1="30" y1="240" x2="389" y2="240" style="stroke:black;stroke-width:4" />
 <polygon points="28,368 388,368 388,728 28,728" style="fill:none;stroke:black;stroke-width:5" />
 <line x1="28" y1="487" x2="388" y2="487" style="stroke:black;stroke-width:5" />
 <line x1="28" y1="608" x2="388" y2="608" style="stroke:black;stroke-width:5" />
 <line x1="147" y1="368" x2="147" y2="728" style="stroke:black;stroke-width:5" />
 <line x1="267" y1="368" x2="267" y2="728" style="stroke:black;stroke-width:5" />
</svg>

<div class="container" id="post1">
  {{ one  }}
</div>
<div class="container" id="post2">
  {{ two  }}
</div>
<div class="container" id="post3">
  {{ three  }}
</div>
<div class="container" id="post4">
  {{ four  }}
</div>
<div class="container" id="post5">
  {{ five  }}
</div>
<div class="container" id="post6">
  {{ six  }}
</div>
<div class="container" id="post7">
  {{ seven  }}
</div>
<div class="container" id="post8">
  {{ eight  }}
</div>
<div class="container" id="post9">
  {{ nine  }}
</div>
<div class="container" id="post10">
  {{ ten  }}
</div>
<div class="container" id="post11">
  {{ eleven  }}
</div>
<div class="container" id="post12">
  {{ twelve  }}
</div>
<div class="container" id="post13">
  {{ thirteen  }}
</div>
<div class="container" id="post14">
  {{ fourteen  }}
</div>
<div class="container" id="post15">
  {{ fifteen  }}
</div>
<div class="container" id="post16">
  {{ sixteen  }}
</div>
<div class="container" id="post17">
  {{ seventeen  }}
</div>
<div class="container" id="post18">
  {{ eighteen  }}
</div>
<div class="container" id="post19">
  {{ nineteen  }}
</div>
<div class="container" id="post20">
  {{ twenty  }}
</div>
<div class="container" id="post21">
  {{ twentyone  }}
</div>
<div class="container" id="post22">
  {{ twentytwo  }}
</div>
<div class="container" id="post23">
  {{ twentythree  }}
</div>
<div class="container" id="post24">
  {{ twentyfour  }}
</div>
<div class="container" id="post25">
  {{ twentyfive  }}
</div>
<div class="container" id="post26">
  {{ twentysix  }}
</div>
<div class="container" id="post27">
  {{ twentyseven  }}
</div>
<div class="container" id="post28">
  {{ twentyeight  }}
</div>
<div class="container" id="post29">
  {{ twentynine  }}
</div>
<div class="container" id="post30">
  {{ thirty  }}
</div>
<div class="container" id="post31">
  {{ thirtyone  }}
</div>
<div class="container" id="post32">
  {{ thirtytwo  }}
</div>
<div class="container" id="post33">
  {{ thirtythree  }}
</div>
<div class="container" id="post34">
  {{ thirtyfour  }}
</div>
<div class="container" id="post35">
  {{ thirtyfive  }}
</div>
<div class="container" id="post36">
  {{ thirtysix  }}
</div>
<div class="container" id="post37">
  {{ thirtyseven  }}
</div>
<div class="container" id="post38">
  {{ thirtyeight  }}
</div>
<div class="container" id="post39">
  {{ thirtynine  }}
</div>
<div class="container" id="post40">
  {{ fourty  }}
</div>
<div class="container" id="post41">
  {{ fourtyone  }}
</div>
<div class="container" id="post42">
  {{ fourtytwo  }}
</div>
<div class="container" id="post43">
  {{ fourtythree  }}
</div>
<div class="container" id="post44">
  {{ fourtyfour  }}
</div>
<div class="container" id="post45">
  {{ fourtyfive  }}
</div>
<div class="container" id="post46">
  {{ fourtysix  }}
</div>
<div class="container" id="post47">
  {{ fourtyseven  }}
</div>
<div class="container" id="post48">
  {{ fourtyeight  }}
</div>
<div class="container" id="post49">
  {{ fourtynine  }}
</div>
<div class="container" id="post50">
  {{ fifty  }}
</div>
<div class="container" id="post51">
  {{ fiftyone  }}
</div>
<div class="container" id="post52">
  {{ fiftytwo  }}
</div>
<div class="container" id="post53">
  {{ fiftythree  }}
</div>
<div class="container" id="post54">
  {{ fiftyfour  }}
</div>
<div class="container" id="post55">
  {{ fiftyfive  }}
</div>
<div class="container" id="post56">
  {{ fiftysix  }}
</div>
<div class="container" id="post57">
  {{ fiftyseven  }}
</div>
<div class="container" id="post58">
  {{ fiftyeight  }}
</div>
<div class="container" id="post59">
  {{ fiftynine  }}
</div>
<div class="container" id="post60">
  {{ sixty  }}
</div>
<div class="container" id="post61">
  {{ sixtyone  }}
</div>
<div class="container" id="post62">
  {{ sixtytwo  }}
</div>
<div class="container" id="post63">
  {{ sixtythree  }}
</div>
<div class="container" id="post64">
  {{ sixtyfour  }}
</div>
<div class="container" id="post65">
  {{ sixtyfive  }}
</div>
<div class="container" id="post66">
  {{ sixtysix  }}
</div>
<div class="container" id="post67">
  {{ sixtyseven  }}
</div>
<div class="container" id="post68">
  {{ sixtyeight  }}
</div>
<div class="container" id="post69">
  {{ sixtynine  }}
</div>
<div class="container" id="post70">
  {{ seventy  }}
</div>
<div class="container" id="post71">
  {{ seventyone  }}
</div>
<div class="container" id="post72">
  {{ seventytwo  }}
</div>
<div class="container" id="post73">
  {{ seventythree  }}
</div>
<div class="container" id="post74">
  {{ seventyfour  }}
</div>
<div class="container" id="post75">
  {{ seventyfive  }}
</div>
<div class="container" id="post76">
  {{ seventysix  }}
</div>
<div class="container" id="post77">
  {{ seventyseven  }}
</div>
<div class="container" id="post78">
  {{ seventyeight  }}
</div>
<div class="container" id="post79">
  {{ seventynine  }}
</div>
<div class="container" id="post80">
  {{ eighty  }}
</div>
<div class="container" id="post81">
  {{ eightyone  }}
</div>











  </body>
</html>
