#box1 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:40px;
  left:40px;

}
#box2 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:40px;
  left:80px;

}
#box3 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:40px;
  left:120px;
}
#box4 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:40px;
  left:160px;
}
#box5 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:40px;
  left:200px;
}
#box6 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:40px;
  left:240px;
}
#box7 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:40px;
  left:280px;
}
#box8 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:40px;
  left:320px;
}
#box9 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:40px;
  left:360px;
}
#box10 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:80px;
  left:40px;
}
#box11 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:80px;
  left:80px;
}
#box12 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:80px;
  left:120px;
}
#box13 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:80px;
  left:160px;
}
#box14 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:80px;
  left:200px;
}
#box15 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:80px;
  left:240px;
}
#box16 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:80px;
  left:280px;
}
#box17 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:80px;
  left:320px;
}
#box18 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:80px;
  left:360px;
}
#box19 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:120px;
  left:40px;
}
#box20 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:120px;
  left:80px;
}
#box21 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:120px;
  left:120px;
}
#box22 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:120px;
  left:160px;
}
#box23 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:120px;
  left:200px;
}
#box24 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:120px;
  left:240px;
}
#box25 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:120px;
  left:280px;
}
#box26 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:120px;
  left:320px;
}
#box27 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:120px;
  left:360px;
}
#box28 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:160px;
  left:40px;
}
#box29 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:160px;
  left:80px;
}
#box30 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:160px;
  left:120px;
}
#box31 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:160px;
  left:160px;
}
#box32 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:160px;
  left:200px;
}
#box33 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:160px;
  left:240px;
}
#box34 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:160px;
  left:280px;
}
#box35 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:160px;
  left:320px;
}
#box36 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:160px;
  left:360px;
}
#box37 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:200px;
  left:40px;
}
#box38 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:200px;
  left:80px;
}
#box39 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:200px;
  left:120px;
}
#box40 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:200px;
  left:160px;
}
#box41 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:200px;
  left:200px;
}
#box42 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:200px;
  left:240px;
}
#box43 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:200px;
  left:280px;
}
#box44 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:200px;
  left:320px;
}
#box45 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:200px;
  left:360px;
}
#box46 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:240px;
  left:40px;
}
#box47 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:240px;
  left:80px;
}
#box48 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:240px;
  left:120px;
}
#box49 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:240px;
  left:160px;
}
#box50 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:240px;
  left:200px;
}
#box51 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:240px;
  left:240px;
}
#box52 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:240px;
  left:280px;
}
#box53 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:240px;
  left:320px;
}
#box54 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:240px;
  left:360px;
}
#box55 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:280px;
  left:40px;
}
#box56 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:280px;
  left:80px;
}
#box57 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:280px;
  left:120px;
}
#box58 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:280px;
  left:160px;
}
#box59 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:280px;
  left:200px;
}
#box60 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:280px;
  left:240px;
}
#box61 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:280px;
  left:280px;
}
#box62 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:280px;
  left:320px;
}
#box63 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:280px;
  left:360px;
}
#box64 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:320px;
  left:40px;
}
#box65 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:320px;
  left:80px;
}
#box66 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:320px;
  left:120px;
}
#box67 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:320px;
  left:160px;
}
#box68 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:320px;
  left:200px;
}
#box69 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:320px;
  left:240px;
}
#box70 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:320px;
  left:280px;
}
#box71 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:320px;
  left:320px;
}
#box72 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:320px;
  left:360px;
}
#box73 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:360px;
  left:40px;
}
#box74 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:360px;
  left:80px;
}
#box75 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:360px;
  left:120px;
}
#box76 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:360px;
  left:160px;
}
#box77 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:360px;
  left:200px;
}
#box78 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:360px;
  left:240px;
}
#box79 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:360px;
  left:280px;
}
#box80 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:360px;
  left:320px;
}
#box81 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:360px;
  left:360px;
}

#post1 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:410px;
  left:40px;
}
#post2 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:410px;
  left:80px;
}
#post3 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:410px;
  left:120px;
}
#post4 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:410px;
  left:160px;
}
#post5 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:410px;
  left:200px;
}
#post6 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:410px;
  left:240px;
}
#post7 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:410px;
  left:280px;
}
#post8 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:410px;
  left:320px;
}
#post9 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:410px;
  left:360px;
}
#post10 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:450px;
  left:40px;
}
#post11 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:450px;
  left:80px;
}
#post12 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:450px;
  left:120px;
}
#post13 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:450px;
  left:160px;
}
#post14 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:450px;
  left:200px;
}
#post15 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:450px;
  left:240px;
}
#post16 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:450px;
  left:280px;
}
#post17 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:450px;
  left:320px;
}
#post18 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:450px;
  left:360px;
}
#post19 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:490px;
  left:40px;
}
#post20 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:490px;
  left:80px;
}
#post21 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:490px;
  left:120px;
}
#post22 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:490px;
  left:160px;
}
#post23 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:490px;
  left:200px;
}
#post24 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:490px;
  left:240px;
}
#post25 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:490px;
  left:280px;
}
#post26 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:490px;
  left:320px;
}
#post27 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:490px;
  left:360px;
}
#post28 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:530px;
  left:40px;
}
#post29 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:530px;
  left:80px;
}
#post30 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:530px;
  left:120px;
}
#post31 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:530px;
  left:160px;
}
#post32 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:530px;
  left:200px;
}
#post33 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:530px;
  left:240px;
}
#post34 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:530px;
  left:280px;
}
#post35 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:530px;
  left:320px;
}
#post36 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:530px;
  left:360px;
}
#post37 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:570px;
  left:40px;
}
#post38 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:570px;
  left:80px;
}
#post39 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:570px;
  left:120px;
}
#post40 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:570px;
  left:160px;
}
#post41 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:570px;
  left:200px;
}
#post42 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:570px;
  left:240px;
}
#post43 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:570px;
  left:280px;
}
#post44 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:570px;
  left:320px;
}
#post45 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:570px;
  left:360px;
}
#post46 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:610px;
  left:40px;
}
#post47 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:610px;
  left:80px;
}
#post48 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:610px;
  left:120px;
}
#post49 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:610px;
  left:160px;
}
#post50 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:610px;
  left:200px;
}
#post51 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:610px;
  left:240px;
}
#post52 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:610px;
  left:280px;
}
#post53 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:610px;
  left:320px;
}
#post54 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:610px;
  left:360px;
}
#post55 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:650px;
  left:40px;
}
#post56 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:650px;
  left:80px;
}
#post57 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:650px;
  left:120px;
}
#post58 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:650px;
  left:160px;
}
#post59 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:650px;
  left:200px;
}
#post60 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:650px;
  left:240px;
}
#post61 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:650px;
  left:280px;
}
#post62 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:650px;
  left:320px;
}
#post63 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:650px;
  left:360px;
}
#post64 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:690px;
  left:40px;
}
#post65 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:690px;
  left:80px;
}
#post66 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:690px;
  left:120px;
}
#post67 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:690px;
  left:160px;
}
#post68 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:690px;
  left:200px;
}
#post69 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:690px;
  left:240px;
}
#post70 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:690px;
  left:280px;
}
#post71 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:690px;
  left:320px;
}
#post72 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:690px;
  left:360px;
}
#post73 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:730px;
  left:40px;
}
#post74 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:730px;
  left:80px;
}
#post75 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:730px;
  left:120px;
}
#post76 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:730px;
  left:160px;
}
#post77 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:730px;
  left:200px;
}
#post78 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:730px;
  left:240px;
}
#post79 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:730px;
  left:280px;
}
#post80 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:730px;
  left:320px;
}
#post81 {
  width:19px;
  height:30px;
  border-radius: 5px;
  background-color: lightgrey;
  padding-left: 11px;
  position: absolute;
  top:730px;
  left:360px;
}
